:root {
  --mesh-red: 0, 100%, 50%;
  --mesh-purple: 270, 100%, 50%;
  --mesh-blue: 240, 100%, 50%;
  --mesh-orange: 30, 100%, 50%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: cursive;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.navbar {
  height: 50px;
  background-color: #e6e6fa;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0;
  /* Mavi bir border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Gölgeli efekt */
  border-radius: 10px; /* Köşeleri yumuşatmak için (isteğe bağlı) */
}
.navbar h1 {
  color: black;
  font-size: 20px;
  font-weight: 200;
}
.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container::before {
  background: url(https://raw.githubusercontent.com/yagoestevez/fcc-portfolio/master/src/Images/Stars.svg?sanitize=true);
}

.home-container::before {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e6e6fa;
  margin-inline: 10%;
  margin-block: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Gölgeli efekt */
  border-radius: 10px; /* Köşeleri yumuşatmak için (isteğe bağlı) */
}

.about-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-block-start: 20px;

  gap: 30px;
}
.about-container .about-content img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.about-content .main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-container p {
  width: 80%;
  height: auto;
  margin-block: 30px;
}
.about-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-block: 30px;
}

.about-contact .about-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.about-btn a {
  width: 180px;
  height: 30px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: white;
  padding: 4px 8px;
  margin-inline: 20px;
  text-align: center;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.4); /* Gölgeli efekt */
}
.about-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.about-links a {
  font-size: 25px;
  border: 2px solid white;
  border-radius: 15px;
  background-color: transparent;
  padding: 4px 8px;
  margin-inline: 20px;
  text-align: center;
}
